<header class="site-header">
  <div class="wrapper">
    <div class="top-lo">
      <a class="site-logo" href="{{ "/" | absolute_url }}"><img src="/CDTW/assets/img/CRDT-Helm-Inverted-Transparent.png"/></a>
      <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <button class="hamburger-button"> ☰ </button>
    </div>
    <nav class="site-nav">
       {% include nav.html  %}
    </nav>
  </div>
</header>


<script>
  document.querySelector('.hamburger-button').addEventListener('click', function() {
    document.querySelector('.site-nav').style.display = 
    (document.querySelector('.site-nav').style.display == 'none') ? 'block' : 'none';
 });
</script>

<script>
  document.querySelector('.hamburger-button').addEventListener('click', function() {
    var siteNav = document.querySelector('.site-nav');
    siteNav.style.display = (siteNav.style.display === 'none' || siteNav.style.display === '') ? 'block' : 'none';
  });
</script>