/**
 * Site header
 */
.site-header {
    border-top: 0px solid $grey-color-dark;
	border-bottom: 4px solid $clemson-orange;
    min-height: 56px;
    background: black;
    // Positioning context for the mobile navigation icon
    position: relative;

}

.site-logo {
	img {max-width: 100px;
	transition: transform 1s ease;
	}
	img:hover {
		transform: rotate(360deg);
	  }
}

.site-title {
	max-width: 200px;
	font-size: 26px;
/* 		margin-top: 15px;
    line-height: 40px; */
    letter-spacing: -1px;
    padding-right: 5px;
	margin: 0;
    font-weight: 400;
		font-family: 'Roboto', sans-serif;
	transition: color 0.5s ease;
    color: #ffffff;
    &,
    &:visited {
        color: #ffffff;
    }
    &,
    &:hover {
	text-decoration: none;
	color: grey;
}
}

.site-header .wrapper {
	padding: 20px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.site-nav {
	float: right;
	/* display: inline-block; */
}

.site-nav ul li a {
	color: #fff;
	text-decoration: none;
}

.site-nav ul {

	/*text-align: left; */
	/*float: right; */
	padding-top: 9px;
	font-size: 90%;
	letter-spacing: 1px;
	line-height: 1em;
	font-weight: 500;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-transform: uppercase;
		font-family: 'Roboto', sans-serif;

}

.site-nav .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 23px;
	line-height: normal;
	margin: 0px 0 0 20px;
	padding: 0 0 2px 0;
	position: relative;
	vertical-align: top;
}

.site-nav a {
	display: block;
        color: #ffffff;
		transition: color 0.5s ease;
	
		&:hover {
			color: #fc9325;
		}
}
