

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-logo {
    img {max-width: 150px;}
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-col-1, .footer-col-2, .footer-col-3 {
    padding: 1em;
}

/*
.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}
*/



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    flex: 1 0 auto;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 30px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

h1 /* .post-title */ {
/*    font-size: 42px; */
    letter-spacing: -1px;
    line-height: 1;
		font-family: 'Roboto', sans-serif;
		color: $clemson-blue;

    @include media-query($on-laptop) {
/*        font-size: 36px; */
    }
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
  }
  .google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
		font-family: 'Roboto', sans-serif;
	font-weight: 300;
/*        font-size: 32px; */

        @include media-query($on-laptop) {
/*            font-size: 28px; */
        }
    }

    h3 {
		font-style: italic;
/*        font-size: 26px; */

        @include media-query($on-laptop) {
/*            font-size: 22px; */
        }
    }

    h4 {
/*       font-size: 20px; */

        @include media-query($on-laptop) {
/*            font-size: 18px; */
        }
    }
}

.footnotes ol li {list-style-type:decimal;}
.footnotes ol {font-size:.85em; color:#666666;}	
	
html {
  overflow-y: scroll;
}

ul.listing {
	list-style-type: none;
	margin-left: 0px;
}

ul.listing li.listing-seperator {
	padding-top: 15px;
	font-weight: bold;
	font-family: 'Titillium Web', sans-serif;
	
}
ul.listing li.listing-item {
	padding-bottom: 20px;
}

ul.listing li.listing-item time {

	color: #333;
	font-weight: 500;
	text-transform: uppercase;
	padding-right: 10px;
}

ul.listing li.listing-item a {
	color: $clemson-blue;
	font-weight: 400;
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.25em;
}

ul.listing li.listing-item a.excerpt{
	font-size: $base-font-size;
	font-weight: 100;
	padding: 0 0 0 0;
}

/**
 * BUTTONS
 */

 .btn2 {
    display: inline-block;
    background-color: $brand-color;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: small;
    font-weight: 400;
    cursor: pointer;
    color: white;
    text-transform: uppercase;
    box-shadow: 3px 3px 6px #00000040;
    letter-spacing: 0.39px;
    transition-duration: 0.4s;
        }
  .btn2:hover {
    background-color: $clemson-blue;
    text-decoration: none;
    color: white;
  }