@media only screen and (max-width: 600px) {

.footer-col-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row; }

.site-nav h1 {
		border-bottom: 3px solid transparent;
		cursor: pointer;
		/* display: none; Standard. IE8+, Saf, FF3+ */
		height: 23px;
		left: auto;
		margin-top: 10px;
		position: static;
		white-space: nowrap;
	}

.site-header .wrapper {
	padding: 10px;
	margin: 0px;
}

.site-title {
	font-size: 22px;
}

.site-nav .menu {
	/*	border: 3px solid transparent; */
		border-top: 0;
		/* bg and border colors set in header */
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		/* Hide until activated */
		display: block;
		left: -3px;
/*		min-width: 150px; */
/*		margin-top: 36px;
		/*padding: 4px 0;   */
		position: relative;
		right: -3px;
		z-index: 999;
	}

.site-nav .menu.open {
		display: block;
	}

.site-nav .menu li {
		display: block;
		margin: 0px;
		color: $clemson-blue;
	}

.site-nav ul.menu a {
	background-color: #fff;
	color: $clemson-blue;
	text-decoration: none;
	transition: background-color 0.1s ease;
	transition: color 0.1s ease;
	&:hover {
		background-color: $clemson-blue;
		color: white;
	}
	&:active {
		background-color: $clemson-blue-dark;
	}

}

.site-nav a,
	.site-nav li.current-menu-item > a {
		padding: 4px 5px;
	}

.site-nav .menu > li {
		height: auto;
		text-align: left;
	}

.site-nav .sub-menu {
		display: none;
		position: absolute;
		border: 0;
		-moz-box-shadow: none; /* FF3.5+ */
		-webkit-box-shadow: none; /* Saf3+, Chrome */
		box-shadow: none; /* Standard. Opera 10.5, IE9 */
		font-family: 'Titillium Web', Helvetica, Arial, Verdana, sans-serif;
		position: relative;
		/* min-width: 215px; */
		/* max-width: 215px; */
		top: auto;
		text-transform: uppercase;
		right: auto;
		width: auto;
		padding-left: 16px;
	}

	.menu li:hover .sub-menu {
		display: block !important;
	}

	.menu li:focus-within .sub-menu {
		display: block !important;
	}

	.site-nav .sub-menu li.current-menu-item > a {
		border: 0;
	}

}

