@media only screen and (max-width: 600px) {

.footer-col-wrapper {
	display: block !important;
	text-align: center;
}

.site-nav h1 {
		cursor: pointer;
		/* display: none; Standard. IE8+, Saf, FF3+ */
		height: 23px;
		left: auto;
		margin-top: 10px;
		position: static;
		white-space: nowrap;
	}

.site-header .wrapper {
	padding: 10px;
	margin: 0px;
	display: block;
}

.top-lo {
	justify-content: left;
}

.site-title {
	font-size: 22px;
}

.site-nav {
	display: none;
	float: left;
	width: 100%;
}

.hamburger-button {
	display: block;
 }

.site-nav .menu {
	/*	border: 3px solid transparent; */
		border-top: 0;
		/* bg and border colors set in header */
		-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		box-shadow: 0px 2px 2px rgba(0,0,0,0.8);
		/* Hide until activated */
/*		min-width: 150px; */
/*		margin-top: 36px;
		/*padding: 4px 0;   */
		position: relative;
		z-index: 999;
		width: 100%;
	}

.site-nav .menu.open {
		display: block;
	}

.site-nav ul.menu {
	margin-left: 1em;
}

.site-nav ul.menu a {
	text-decoration: none;
	transition: background-color 0.1s ease;
	transition: color 0.1s ease;
	padding: 10px;
	&:hover {
		background-color: $clemson-blue;
		color: white;
	}
	}

.site-nav ul li a {
	background-color: $clemson-blue;
}

.site-nav .menu > li {
		display: block;
		height: auto;
		text-align: left;
		background-color: $clemson-blue;
		color: white;
		margin: 3px;
		border-bottom: none;
	}

.menu a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
		color: white;
	}

.site-nav .sub-menu {
		/* display: none; */
		position: absolute;
		border: 0;
		-moz-box-shadow: none; /* FF3.5+ */
		-webkit-box-shadow: none; /* Saf3+, Chrome */
		box-shadow: none; /* Standard. Opera 10.5, IE9 */
		font-family: 'Titillium Web', Helvetica, Arial, Verdana, sans-serif;
		position: relative;
		/* min-width: 215px; */
		/* max-width: 215px; */
		top: auto;
		text-transform: uppercase;
		right: auto;
		width: auto;
		margin: 0px 3px 3px 3px;
	}

	.site-nav .sub-menu li a { 
		background-color: $brand-color;
		border-bottom: 2px solid $clemson-blue;
	}

	.site-nav .sub-menu li.current-menu-item > a {
		border: 0;
	}

	.dropdown {
		float: none;
		overflow: hidden;
	  }

	.dropdown > li {
		background-color: $clemson-blue;
		color: white;
		margin: 3px;
	  }

	.dropdown .dropbtn {
		padding: 10px;
		color: white;
	}

}

